@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Rubik", sans-serif;

}

:root {
    --accent-color: #fff;
    --gradient-color: #FBFBFB;
}

body{    
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(../images/bgg.png);
}

.sidebar {
    width: 15%;
    height: 100vh;
    background-color: #ffffff8d;
    transition: all .5s ease;
    left: 0; /* Modified to make the sidebar initially visible */
}

.sidebar header{
    font-size: 28px;
    color: #353535;
    line-height: 70px;
    text-align: center;
    background-color: #fff;
    user-select: none;
}

.sidebar a{
    display: block;
    height: 65px;
    width: 100%;
    color: #353535;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-left: 5px solid transparent;
    transition: all .5s ease;
}

.sidebar a.active,a:hover{
    border-left: 5px solid var(--accent-color);
    color: #fff;
    background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
}

.sidebar a i{
    font-size: 23px;
    margin-right: 16px;
}

.sidebar a span{
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media(max-width : 860px){
    .sidebar{
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px 0;
    }
    header,#btn,#cancel{
        display: none;
    }
    .sidebar span{
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }
    .sidebar a{
        height: 60px;
    }
    .sidebar a i{
        margin-left: -10px;
    }
    .sidebar a:hover {
        width: 200px;
        background: inherit;
    }
    .sidebar a:hover span{
        opacity: 1;
        visibility: visible;
    }
}

.sidebar > a.active,.sidebar > a:hover:nth-child(even) {
    --accent-color: #52d6f4;
    --gradient-color: #c1b1f7;
}

.sidebar a.active,.sidebar > a:hover:nth-child(odd) {
    --accent-color: #c1b1f7;
    --gradient-color: #A890FE;
}

.frame {
    width: 50%;
    height: 30%;
    margin: auto;
    text-align: center;
}
.main{
    height: 100vh;
    width: 100%;
    display: flex;
    
}
h2 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 60px;
    margin: 0;
    color: #a759f5;
}

p {
    font-weight: 300;
    text-align: center;
    font-size: 30px;
    color: #d6adff;
    margin: 0;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

